#hero {
  position: relative;
  &::before {
    content: "";
    background-color: var(--pink-low);
    position: absolute;
    filter: blur(300px);
    top: 15.375rem;
    bottom: 1.375rem;
    left: 0;
    right: 0;
    z-index: -2;
  }
  & #hero-background {
    position: relative;
    &::after {
      content: "";
      background: url(../assets/images/hero-background.png) no-repeat;
      background-position: center;
      background-size: cover;
      inset: 0;
      position: absolute;
      z-index: -1;
      opacity: 0;
      animation: entry 1.5s 500ms ease forwards;
    }
  }
  & nav {
    padding-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    & a {
      color: var(--text-title);
      font: var(--button);
      padding: 0.875rem 1.25rem;
      background-color: var(--pink-dark);
      border-radius: 0.5rem;
      z-index: 1;
      position: relative;
      &::before {
        content: "";
        background-color: var(--pink-base);
        position: absolute;
        border-radius: inherit;
        inset: 0;
        z-index: -1;
        clip-path: circle(0%);
        transition: clip-path 500ms ease-in-out;
      }
      &:hover::before {
        clip-path: circle(100%);
      }
    }
  }
  & #hero-content {
    text-align: center;
    margin-block: 3rem 2rem;
    padding-bottom: 12.0625rem;
    & h1 {
      opacity: 0;
      animation: entry 1.5s 1s ease-in-out forwards;
    }
    & span {
      margin-top: 1rem;

      font: var(--body-sm);
      color: var(--text-title);

      opacity: 0;
      animation: entry 1.5s 1.5s ease-in-out forwards;
    }
  }
  & .container:has(#hero-text) {
    padding-inline: 1.25rem;
    position: relative;
  }
  & #hero-text {
    padding-block: 5.10375rem;
    text-align: center;
    & p {
      font: var(--body-md);
      font-weight: 500;
      color: var(--text-body);
    }
    & img {
      position: absolute;
      width: 2.5rem;
      height: auto;
    }
    & img:nth-child(2) {
      top: 1.75rem;
      left: 15.75rem;
      transform: rotate(15deg);
    }
    & img:nth-child(3) {
      top: 9.8125rem;
      left: 0.875rem;
      width: 2rem;
      transform: rotate(-30deg);
    }
    & img:nth-child(4) {
      top: 10.625rem;
      left: 19.103125rem;
      transform: rotate(15deg);
    }
  }
}

@keyframes entry {
  to {
    opacity: 1;
  }
}

@media (width >= 80em) {
  #hero {
    &::before {
      filter: blur(12000px);
      opacity: 70%;
      top: 40rem;
    }
    & nav {
      padding-top: 3.5rem;
    }
    & #hero-content {
      margin-block: 10.25rem 6rem;
      padding-bottom: 29.375rem;
      text-align: center;
      & span {
        margin-top: 2rem;
        font: var(--body-lg);
      }
    }

    & .container:has(#hero-text) {
      padding-inline: 0;
      margin-inline: 7.5rem;
      &:hover {
        & p {
          & span {
            opacity: 1;

            & strong {
              color: var(--blue-light);
            }
          }
        }
        & img:nth-child(2) {
          scale: 1;
        }
        & img:nth-child(3) {
          scale: 1;
        }
        & img:nth-child(4) {
          scale: 1;
        }
      }
    }
    & #hero-text {
      padding: 7.125rem 2rem 9.75rem 2rem;
      & p {
        font: var(--subtitle);
        color: var(--text-body);
        font-weight: unset;
        & span{
          opacity: 0.5;
        }
        & span:nth-child(1) {
          transition: opacity 200ms;
          & strong {
            transition: color 200ms;
          }
        }
        & span:nth-child(2) {
          transition: opacity 200ms;
          transition-delay: 0.5s;
          & strong {
            transition: color 200ms;
            transition-delay: 0.5s;
          }
        }
        & span:nth-child(3) {
          transition: opacity 200ms;
          transition-delay: 1s;
          & strong {
            transition: color 200ms;
            transition-delay: 1s;
          }
        }
      }
      & img:nth-child(2) {
        width: 5.5rem;
        top: 2.07%;
        left: 46.68%;
        transform: rotate(20.76deg);
        scale: 0;
        transition: scale 200ms;
      }
      & img:nth-child(3) {
        top: 58.99%;
        left: 10.5%;
        width: 5rem;
        transform: rotate(99.47deg);
        scale: 0;
        transition: scale 200ms;
        transition-delay: 0.5s;
      }
      & img:nth-child(4) {
        top: 59.04%;
        left: unset;
        right: 0.155%;
        width: 4.5rem;
        transform: rotate(-14.48deg);
        scale: 0;
        transition: scale 200ms;
        transition-delay: 1s;
      }
    }
  }
}
