#subscription {
  margin-bottom: 6.5rem;
  #subscription-title {
    text-align: center;
    margin-block: 6.5rem 3rem;
  }
  #subscription-types {
    font-family: var(--ff);
    position: relative;
    display: grid;
    animation: subscription-animation 60s ease-in-out infinite forwards;
    animation-delay: 15s;
    & .subscription-card {
      position: relative;
      background-color: var(--shape-base);
      border: 1px solid var(--shape-stroke);
      border-radius: 1.5rem;
      padding: 2rem 2rem 2rem 1.75rem;
      .subscription-card-title {
        margin-bottom: 1.5625rem;
        & h4 {
          color: var(--blue-light);
          font: var(--title-xs);
          font-weight: bold;
          margin-bottom: 1.5rem;
        }
        & h3 {
          color: var(--text-title);
          font: var(--title-md);
          margin-bottom: 0.5rem;
          & span {
            font: var(--title-xs);
            color: inherit;
          }
        }
        & span {
          font: var(--body-sm);
          color: var(--text-label);
        }
      }
      .subscription-card-description {
        .subscription-card-details {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          .detail {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            & span {
              font: var(--body-xs);
            }
          }
        }
        & a {
          display: block;
          text-align: center;
          background-color: var(--blue-dark);
          border-radius: 0.5rem;
          padding-block: 0.75rem;
          text-decoration: none;
          color: var(--text-title);
          font: var(--button);
          position: relative;
          z-index: 1;
          &::before {
            content: "";
            background-color: var(--blue-mid);
            position: absolute;
            border-radius: inherit;
            inset: 0;
            z-index: -1;
            clip-path: ellipse(0% 0% at 50% 50%);
            transition: clip-path 700ms ease-in-out;
          }
          &:hover::before {
            clip-path: ellipse(100% 100% at 50% 50%);
          }
        }
      }
    }
    & .subscription-card:nth-child(1) {
      & .subscription-card-title {
        margin-bottom: 5.1875rem;
      }
    }
    & .subscription-card:nth-child(2) {
      position: absolute;
      right: -110%;
      background-color: var(--shape-hover);
      & img:nth-child(1) {
        position: absolute;
        top: -3.3rem;
      }
      & .subscription-card-title {
        margin-bottom: 3.375rem;
        & span:nth-child(2) {
          position: absolute;
          padding: 0.5625rem 1.25rem;
          top: 1.494375rem;
          right: 1.526875rem;
          border-radius: 20px;
          background-color: var(--shape-stroke);
          font: var(--tag);
          color: var(--text-body);
          text-transform: uppercase;
        }
        & h4 {
          color: var(--pink-light);
        }
      }
      & a {
        background-color: var(--pink-dark);
        &::before {
          background-color: var(--pink-base);
        }
      }
    }
    & .subscription-card:nth-child(3) {
      position: absolute;
      right: -220%;
    }
  }
}

@keyframes subscription-animation {
  0% {
    left: 0%;
  }
  20% {
    left: 0;
  }
  30% {
    left: -110%;
  }
  50% {
    left: -110%;
  }
  60% {
    left: -220%;
  }
  80% {
    left: -220%;
  }
  100% {
    left: 0%;
  }
}

@media (width >= 80em) {
  #subscription {
    position: relative;
    background: url(../assets/images/pricing-background.png) cover;
    margin-bottom: 18.875rem;
    &::after {
      content: "";
      background: url(../assets/images/pricing-background.png) no-repeat center /
        cover;
      background-color: var(--blue-low);
      position: absolute;
      filter: blur(500px);
      opacity: 0.5;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -2;
    }
    & #subsctiption-title {
      margin-block: 12.125rem 3.5rem;
    }
    & #subscription-types {
      padding-block: 5.125rem 6.6875rem;
      animation: none;
      display: flex;
      justify-content: center;

      & .subscription-card:nth-child(2),
      & .subscription-card:nth-child(3) {
        position: relative;
        right: unset;
      }
      & .subscription-card:nth-child(1) {
        left: 14.31%;
        top: 0;
        scale: 0;
        transition: top 500ms ease-in-out, left 500ms ease-in-out,
          scale 500ms ease-in-out, transform 500ms ease-in-out,
          background-color 500ms ease-in-out;
        & img {
          transition: transform 300ms ease-in-out;
        }
        & img:nth-child(1) {
          position: absolute;
          top: -1rem;
          left: -1.5rem;
          width: 1.625rem;
        }
        & img:nth-child(2) {
          position: absolute;
          left: -2rem;
          top: 1rem;
          width: 0.8125rem;
        }
      }
      & .subscription-card:nth-child(2) {
        z-index: 2;
      }
      & .subscription-card:nth-child(3) {
        left: -14.31%;
        top: 0;
        scale: 0;
        transition: top 500ms ease-in-out, left 500ms ease-in-out,
          scale 500ms ease-in-out, transform 500ms ease-in-out,
          background-color 500ms ease-in-out;
        & img {
          transition: transform 300ms ease-in-out;
        }
        & img:nth-child(3) {
          position: absolute;
          right: -1.5rem;
          bottom: -1.5rem;
          width: 1.4375rem;
        }
        & img:nth-child(4) {
          position: absolute;
          right: 0.5rem;
          bottom: -2rem;
          width: 0.6875rem;
        }
      }
      &:hover {
        & .subscription-card:nth-child(1) {
          left: 0%;
          top: 2.431875rem;
          transform: rotate(-8deg);
          scale: 1;
        }
        & .subscription-card:nth-child(3) {
          left: 0%;
          top: 2.431875rem;
          transform: rotate(8deg);

          scale: 1;
        }
      }
      & .subscription-card:nth-child(1):hover {
        background-color: var(--shape-hover);
        z-index: 3;
        scale: 1.05;
        & img {
          transform: rotate(30deg);
        }
      }
      & .subscription-card:nth-child(3):hover {
        background-color: var(--shape-hover);
        z-index: 3;
        scale: 1.05;
        & img {
          transform: rotate(30deg);
        }
      }
      & .subscription-card {
        scale: 1;
        transition: scale 500ms ease-in-out;
        & svg {
          transition: transform 500ms ease-in-out;
        }
      }
      & .subscription-card:hover {
        scale: 1.05;
        & svg {
          transform: rotate(30deg);
        }
      }
    }
  }
}
